.App {
  display: grid;
  grid-template-columns: 6fr 2fr 1fr;
  grid-template-rows: 6fr 2fr 1fr;
  grid-gap: 6px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.container {
  height: 100%;
  width: 100%;
  background-color: salmon;
}

.hidden {
  display: none;
}
